<!DOCTYPE html>
<html>
  <head>
    <title>TravelPal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag    'https://fonts.googleapis.com/css?family=Roboto:300,400,500', media: 'all' %>
    <%= stylesheet_link_tag    'https://fonts.googleapis.com/icon?family=Material+Icons', media: 'all' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
